{% load static %}


<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- <base href="/homebanking-ITBA/">  --><!-- URL base para Github Pages -->
		
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
		
        <link rel="stylesheet" href="{% static 'registration/css/index.css' %}">
		<title>ITBANK - Login</title>
	</head>
	<body>

        <!-- Ignacior Login -->
		<nav>
			<a class="home text-decoration-none">
				<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
					<path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z" />
				</svg>
			</a>
		</nav>

		<!-- Main Register -->

		<div class="container vh-100 d-flex">
			<div class="row">
				<div class="itbank-logo col d-flex flex-column justify-content-center align-items-center">
					<img class="mw-100" src="{% static 'registration/images/itbank.png' %}" alt="">
				</div>
				<div class="col-5 d-flex flex-column justify-content-center align-items-center">
					<h2 class="row mb-5 text-center">Registrate en ITBANK</h2>
					<form method="post" action="{% url 'register' %}" id="formRegister" class="w-75">
						{% csrf_token %}
						<div id="docRegister" class="input-group mb-3 doc">
							<input type="text" class="form-control" placeholder="Número de documento">
							<button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Tipo</button>
							<ul class="dropdown-menu dropdown-menu-end">
								<li><a data-id="DNI" class="dropdown-item">DNI</a></li>
								<li><a data-id="LC" class="dropdown-item">Libreta Cívica</a></li>
								<li><a data-id="LE" class="dropdown-item">Libreta de Enrolamiento</a></li>
								<li><a data-id="CI" class="dropdown-item">Cédula de Identidad</a></li>
								<li><a data-id="PP" class="dropdown-item">Pasaporte</a></li>
							</ul>
						</div>
						<div class="input-group mb-3">
							<input type="text" id="usuarioRegister" class="form-control" placeholder="Usuario">
						</div>
						<div class="input-group mb-3">
							<input type="text" id="emailRegister" class="form-control" placeholder="Email">
						</div>
						<div class="input-group mb-3">
							<input id="claveRegister" type="password" class="form-control" placeholder="Clave ITBANK" aria-describedby="key">
						</div>
						<div class="input-group mb-3">
							<input id="clave2Register" type="password" class="form-control" placeholder="Repite tu clave ITBANK" aria-describedby="key">						</div>

						<input type="submit" value="Registrarse" id="submitLogin" class="btn btn-outline-primary mt-3">
						<input type="hidden" name="next" value="{{ next }}">
					</form>
					<div id="mensajeLogin" class="mt">
						{% if form.errors %}
						<div class="alert bg-danger">Usuario o contraseña incorrectos.</div>
						{% endif %}
					</div>
					<p class="mt-5 fs-6">¿Ya tenés un usuario? <a class="text-decoration-none" href="{% url 'login' %}">Iniciar sesión</a></p>
				</div>
			</div>
		</div>
	</body>
	<script src="{% static 'registration/js/login.js' %}"></script>
</html>
