:root {
    --primary: #2776b3;
    --secondary: #3f93d3;
    --light: #fff;
    --dark: #000;
    --diabled: #e7e7e7;
}

* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px; */
    margin: 0;
    background-color: var(--diabled);
}

/*********************** Vickyd Header ***********************/

.logo {
    max-width: 150px;
}

#navbarText ul{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    font-weight: bold;
}

.form-check {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

.form-check-label {
    margin-left: 5px;
}

.nav-item {
    display: flex;
    align-items: center;
    margin: 0px 10px 0px 10px;
}

.nav-icon {
    height: 1.5em;
    width: 1.5em;
}

.username {
    align-self: flex-start;
}
/*********************** Fin Vickyd Header ***********************/

.volver {
    margin-top: 20px;
}
.volver a {
    padding: 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    background-color: rgb(201, 201, 201);
    border-radius: 5px;
    text-align: left;
}

.GContainer {
    background-color: rgb(245, 245, 245);
    padding: 40px;
    padding-top: 20px;
    padding-bottom: 100px;
    width: 40%;
    margin: 15px auto;
    min-width: 525px;
    max-width: 650px;
    border-radius: 15px;
}
h1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: bold;

}

p {
    font-size: 1.15em;
}

.tazaDeCambio {
    display: flex;
    justify-content: center;

}


.btntaza {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: var(--secondary);
    cursor: pointer;
    border-radius: 1rem;
    font-size: 1.2rem;
    padding: 5px 12px;
    border: 0;
    margin: 25px auto;
    padding: 25px;
    width: 100%;
    max-width: 800px;
    border-radius: 10px;

}

.btntaza svg {
    width: 1.2rem;
    margin-left: 5px;
}

.moneda {
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.moneda select{
    padding: 18.5px 20px 18.5px;
    font-size: 16px;
    border: 0;


    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

#moneda2{
    cursor: pointer;
}

.moneda input{
    border: 0;
    font-size: 30px;
    text-align: left;
    padding: 10px;
    color: #2776b3;
    
}

.cContainer1{
    background-color: white;
    padding: 5px;
    background-color: var(--light);   
    max-width: 810px;
    border-radius: 20px;
}

.cContainer2{
    background-color: white;
    padding: 5px;
    background-color: var(--light);   
    max-width: 810px;
    border-radius: 20px;
    margin-top: 15px;
}

.cambio{
    color: var(--primary);
    font-size: 14px;
    padding: 0;
}

@media (max-width:600px) {
    .moneda input{
        width: 200px;
    }
}

#cambio{
    text-align: center;
    color: var(--primary);
    margin-top: 3px;
    font-size: 1.5rem;
}

#cantidad-uno {
    cursor: pointer;
}
#cantidad-dos {
    cursor: pointer;
}

.footer-cont {
    background-color: white;
    max-width:none;
    margin-bottom: 0;
}
.footer-cont section.mb-4 {
    background-color: white;
}


