* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto',sans-serif;
}

/*********************** Vickyd Header ***********************/

.logo {
    max-width: 150px;
}

#navbarText ul{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    font-weight: bold;
}

.form-check {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

.form-check-label {
    margin-left: 5px;
}

.nav-item {
    display: flex;
    align-items: center;
    margin: 0px 10px 0px 10px;
}

.nav-icon {
    height: 1.5em;
    width: 1.5em;
}
.welcome-back .container {
    background: linear-gradient(90deg, rgba(2,86,138,1) 0%, rgba(111,157,185,1) 100%);
    color: white;
    margin: 0;
    width: 100%;
    max-width: none;
}
  
.align-items-center {
    height: 10rem;
    margin: 0;
    width: 100%;
}

.cant-dinero {
    font-size: 1.5rem;
}

.bloque-cuenta {
    border-left: 5px solid white;
}

/** contenedor chart**/
.perfilgraf {
    height: fit-content;
}

#myChart {
    margin-right: 0.5rem;
}

/*********************** Dgamez Cuentas ***********************/

.cuentas * {
    margin: 0;
    position: relative;
}

.cuentas h2 {
    align-self: flex-start;
    font-weight: 100;
    margin-bottom: 2vh;
}

.cuenta {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.cuenta::before {
    content: '';
    display: block;
    width: 15%;
    height: 100%;
    min-height: 60px;
    background: linear-gradient(45deg, #156596, rgb(108, 149, 220));
    border-radius: 0 20px 20px  0;
}

.cuenta > div {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cuenta > div:first-child {
    margin-left: 5%;
}

.balance {
    position: absolute;
    right: 20px;
    align-items: flex-end;
}

.balance span {
    font-weight: bold;
    font-size: 1.5rem;
}
.cuenta p {
    color: gray;
}

.cuenta.select::before {
    background: linear-gradient(45deg, #0b3651, rgb(70, 96, 142));
}

/*********************** Cervellini Perfil+Graf ***********************/

.perfil {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.cuadrado{
    display: flex;
    flex-direction: column;
	background: white;
    width: 100%;
    height: 40%;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 20px;
}

.contenedor-img{
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin: auto;
    position: relative;
    border-radius: 100%;
}

.contenedor-img img{
    width: 100px;
    min-height: 100%;
    min-width: 100%;
}

.cuadrado .label-1{
    margin-top: 10px;
    font-size: 20px;
}

.cuadrado .label-2{
    font-size: 15px;
}

.cuadrado a{
    margin-top: 5px;
    color: royalblue;
}

.contenedor-cuadrado-23{
    display: flex;
    margin-top: 0.5px;
    text-align: center;
    width: 100%;
    height: 20%;
    border-top: 1px solid rgba(0, 0, 0, 0.11);
    
}

.cuadrado-2, .cuadrado-3{
    display: flex;
    flex-direction: column;
	background: white;
    width: 50%;
    margin-right: 0.5px;
    text-align: center;
    padding: 30px;
}

.cuadrado-3 {
    border-left: 1px solid rgba(0, 0, 0, 0.11);
}

.contenedor-cuadrado-23 .label-1{
    font-size: 20px;
}

.contenedor-cuadrado-23 .label-2{
    font-size: 15px;
    color: #666;
}

.cuadrado-4{
    display: flex;
    flex-direction: column;
    margin-top: 1px;
	background: white;
    width: 100%;
    min-height: 40%;
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 0.11);
    padding: 20px;
}
 .cuadrado-4 label{
     font-size: 15px;
     text-align: start;
}

/*********************** Nicovera Actividad Reciente ***********************/

.reciente > * {
    margin: 0;
}

.titulosrecent {
    margin-bottom: 2rem;
    margin-top: 2rem;
    margin-left: 2rem;
}

.reciente ul {
    width: calc(100% - 2rem);
}

.reciente ul li {
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style: none;
    color: black;
}

.recent-date {
    text-align: center;
    color: #276fa4;
    font-weight: bold;
}
.recent-date > div {
    font-size: 1.3rem;
}
.recent-name {
    width: 60%;
}
.recent-name > div {
    color: gray;
}
.recent-amount {
    font-weight: bold;
}

/*********************** Ramiro Otras Operaciones ***********************/

.otrasop > h2 {
    align-self: flex-start;
    margin-bottom: 50px;
}

.gridop {
    width: 100%;
    min-height: 250px;
    height: max-content;
    display: grid;
    grid-template-columns: repeat(minmax(auto-fill, 3), minmax(100px, 1fr));
    grid-template-rows: 50% 50%;
    grid-auto-flow:column;
    gap: 20px;
    justify-items: center;
}

.opcion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 15vh;
    text-decoration: none;
    color: black;
}

.opcion-icon {
    height: 75px;
    margin-bottom: 20px;
    border: 1px solid #276fa4;
    padding: 12px;
    border-radius: 50%;
}
.opcion-icon img {
    height: 100%;
}

/*********************** Ignacior Grid/Layout ***********************/

main {
    display: grid;
    grid-template-columns: minmax(auto, 65%) minmax(auto, 35%);
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f0f0f0;
}

.cuentas, .perfilgraf, .otrasop, .reciente {
    box-shadow: 0 7px 16px 0 rgb(0 0 0 / 5%), 0 1px 3px 0 rgb(0 0 0 / 5%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    background-color: white;
    position: relative;
}

.cuentas {
    justify-content: flex-start;
    padding: 25px;
}

.otrasop {
    justify-content: flex-start;
    padding: 25px;
}

.reciente {
    align-items: flex-start;
    justify-content: flex-start;

}

@media screen and (max-width: 1000px) {

    main {
        display: flex;
        flex-direction: column;
    }

    .cuentas {
        order: 2;
        min-height: fit-content;
    }
    
    .perfilgraf {
        order: 1;
    }
    
    .otrasop {
        order: 4;
        min-height: fit-content;
    }
    
    .reciente {
        order: 3;
    }
}