* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;

}

main { 
    background: rgb(223, 229, 253);
}
.contenedor{
    width: 80rem;
    height: 120rem;
    background:  rgb(252, 252, 252);
    margin: auto;

}

.contenido {
    height: 75%;
    background: rgb(252, 252, 252);
    margin: 1em;
}


.cuentas {
    height: 40rem;
    width: 62%;
    background: rgb(252, 252, 252);
    float: left;

}
/*Rellenar*/
.header {
    height: 8%;
    background: rgb(142, 146, 149);
    margin-bottom: 1.8em;

}
.otherop {
    height: 40rem;
    width: 29rem;
    background: rgb(150, 148, 148);
    border-radius: 1em;
    float: right;
}

.perfilgraf {
    height: 40rem;
    width: 62%;
    background: rgb(158, 141, 141);
    float: left;
    margin-top: 1rem;
}

.recentact {
    height: 40rem;
    width: 29rem;
    background: rgb(150, 148, 148);
    border-radius: 1em;
    float: right;
    margin-top: 1rem;
}

.footer {
    height: 20%;
    background: gray;
}

/*...*/

.articulo {
    display: flex;
    width: 95%;
    height: 22%;
    background: linear-gradient(rgb(14, 26, 197), rgb(39, 118, 255));
    margin: 1rem;
    border-radius: .5em;
    overflow: hidden;
}


.articulo2 {
    width: 50%;
    height: 40rem;
    background: rgb(255, 255, 255);
    float: left;
}

.articulo3 {
    height: 40rem;
    background: rgb(255, 255, 255);
    float: right;
    width: 25%;
    margin-right: 25%;
    border: 2px solid rgb(255, 255, 255);
    
}

.articulo3 h3 {
    font-size: 30px;
    font-weight: 100;
    color:  rgb(8, 8, 142);
    padding-top: 3.2rem;
    text-align: center;
}

.articulo h2 {
    font-weight: 100;
    color: rgb(11, 141, 255);
    padding-top: 2rem;
    padding-left: 2rem
    
}


.articulo p {
    font-size: 1.2rem;
    margin-left: 4%;
    color:  rgb(8, 8, 142);
    
}

.pin {
    width: 40rem;
    height: 10%;
    margin: 1em;
    background:  rgb(255, 255, 255);
    border-radius: 0.5em;
}

.pin h2 {
    margin-top: 10px;
    font-weight: 100;
    margin-left: 1rem;
    color: rgb(8, 8, 142);
}

.cuentas h1{
    margin-top: 40px;
    font-weight: 100;
    margin-left: 1.3rem;
    color: rgb(51, 51, 194);
}

.content-img {
    width: 30px;
    height: 30px;
    display: flex;
    object-fit: cover;
    justify-content: center;
    align-items: center;
}
.content-img img{
    width: 100%;
    height: 100%;
    margin: 75rem;
    margin-right: 10px;
}

